In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [2]:
Data=pd.read_csv('Kaggle_MissedAppointments.csv')
Data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [3]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [4]:
#Fixing column names and spelling for easy utilization
Data=Data.rename(columns={'Hipertension': 'Hypertension',
                        'Handcap': 'Handicap',
                        'SMS_received': 'SMSRecieved',
                        'No-show': 'NoShow'})

In [5]:
#Changed Scheduled Day and Appointment Day to a useable value. 
Data['ScheduledDay'] = pd.to_datetime(Data['ScheduledDay']).dt.date
Data['AppointmentDay'] = pd.to_datetime(Data['AppointmentDay']).dt.date
Data['DaysWaiting'] = (Data['AppointmentDay']-Data['ScheduledDay']).dt.days
Data=Data.drop(['AppointmentDay','ScheduledDay'],axis=1)

In [6]:
#Checking range of ages and most common
Data['Age'].value_counts()

 0      3539
 1      2273
 52     1746
 49     1652
 53     1651
        ...
 115       5
 100       4
 102       2
 99        1
-1         1
Name: Age, Length: 104, dtype: int64

In [7]:
#Got rid of outliers in Age
Data=Data[(Data['Age']<100) & (Data['Age']>=0)]
Data.head()

,PatientId,AppointmentID,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSRecieved,NoShow,DaysWaiting
0,2.987250e+13,5642903,F,62,JARDIM DA PENHA,0,1,0,0,0,0,No,0
1,5.589978e+14,5642503,M,56,JARDIM DA PENHA,0,0,0,0,0,0,No,0
2,4.262962e+12,5642549,F,62,MATA DA PRAIA,0,0,0,0,0,0,No,0
3,8.679512e+11,5642828,F,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,0
4,8.841186e+12,5642494,F,56,JARDIM DA PENHA,0,1,1,0,0,0,No,0

In [8]:
#Data Set information claims Handicap values only True/False
Data['Handicap'].value_counts()

0    108280
1      2036
2       183
3        13
4         3
Name: Handicap, dtype: int64

In [9]:
#Erase non-sense values. 
Data=Data[(Data['Handicap']<=1)]
Data['Handicap'].value_counts()

0    108280
1      2036
Name: Handicap, dtype: int64

In [10]:
#Change 0/1's to values that could be used for easier use in Association Rule Mining
Data.loc[Data['Scholarship'] == 0, 'Scholarship'] = 'NoScholarship'
Data.loc[Data['Scholarship'] == 1, 'Scholarship'] = 'Scholarship'

Data.loc[Data['Hypertension'] == 0, 'Hypertension'] = 'NoHypertension'
Data.loc[Data['Hypertension'] == 1, 'Hypertension'] = 'Hypertension'

Data.loc[Data['Diabetes'] == 0, 'Diabetes'] = 'NoDiabetes'
Data.loc[Data['Diabetes'] == 1, 'Diabetes'] = 'Diabetes'

Data.loc[Data['Alcoholism'] == 0, 'Alcoholism'] = 'NoAlcoholism'
Data.loc[Data['Alcoholism'] == 1, 'Alcoholism'] = 'Alcoholism'

Data.loc[Data['Handicap'] == 0, 'Handicap'] = 'NoHandicap'
Data.loc[Data['Handicap'] == 1, 'Handicap'] = 'Handicap'

Data.loc[Data['SMSRecieved'] == 0, 'SMSRecieved'] = 'NoSMSRecieved'
Data.loc[Data['SMSRecieved'] == 1, 'SMSRecieved'] = 'SMSRecieved'

Data.loc[Data['NoShow'] == 'No', 'NoShow'] = 'Show'
Data.loc[Data['NoShow'] == 'Yes', 'NoShow'] = 'NoShow'

In [11]:
Data.head()

,PatientId,AppointmentID,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSRecieved,NoShow,DaysWaiting
0,2.987250e+13,5642903,F,62,JARDIM DA PENHA,NoScholarship,Hypertension,NoDiabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0
1,5.589978e+14,5642503,M,56,JARDIM DA PENHA,NoScholarship,NoHypertension,NoDiabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0
2,4.262962e+12,5642549,F,62,MATA DA PRAIA,NoScholarship,NoHypertension,NoDiabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0
3,8.679512e+11,5642828,F,8,PONTAL DE CAMBURI,NoScholarship,NoHypertension,NoDiabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0
4,8.841186e+12,5642494,F,56,JARDIM DA PENHA,NoScholarship,Hypertension,Diabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0

In [12]:
#Changing Age to ranges so for easier association formations
for i in range(0,100,5):
    Data['Age'] = np.where(Data['Age'].between(i,i+4),i,Data['Age'])

In [13]:
#Change Ages to the Range
s= '-'
for i in range (0,100,5):
    Data.loc[Data['Age'] == i, 'Age'] = (str(i)+s+str(i+5))

In [14]:
#Figure out longest someone spent waiting
Data['DaysWaiting'].max()

179

In [15]:
Data=Data.drop(['PatientId','AppointmentID'],axis=1)
Data.head()

,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSRecieved,NoShow,DaysWaiting
0,F,60-65,JARDIM DA PENHA,NoScholarship,Hypertension,NoDiabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0
1,M,55-60,JARDIM DA PENHA,NoScholarship,NoHypertension,NoDiabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0
2,F,60-65,MATA DA PRAIA,NoScholarship,NoHypertension,NoDiabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0
3,F,5-10,PONTAL DE CAMBURI,NoScholarship,NoHypertension,NoDiabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0
4,F,55-60,JARDIM DA PENHA,NoScholarship,Hypertension,Diabetes,NoAlcoholism,NoHandicap,NoSMSRecieved,Show,0

In [16]:
#Change to weeks for easier association formations. New category every 7 days.
for i in range(0,27):
    Data['DaysWaiting'] = np.where(Data['DaysWaiting'].between((7*i+1),(7*i+7)),i,Data['DaysWaiting'])

In [17]:
#Separating Show and NoShow data sets
NoShow=Data[Data['NoShow'] == 'NoShow']
Show=Data[Data['NoShow'] == 'Show']

In [18]:
#Rename Column names to fit new information
Data=Data.rename(columns={'DaysWaiting': 'WeeksWaiting',
                        'Age': 'AgeRange'})

# Start of Assocation

In [19]:
#Turn all the DataSets into Arrays
NoShowList= NoShow.values.tolist()
NoShowAr=np.array(NoShowList)

ShowList= Show.values.tolist()
ShowAr=np.array(ShowList)

All=Data.values.tolist()
AllAr=np.array(All)

### Creating the functions to find Associations

In [20]:
#Equations for frequency of Value in the Data Set
def FindFrequency (DataSet,value):
    count=0
    for i in DataSet:
        if value in i:
            count=count+1
    return count

In [21]:
#Equations for frequency of 2 Value found together in the Data Set
def FindFrequency2 (DataSet,value,value2):
    count=0
    for i in DataSet:
        if value in i and value2 in i:
            count=count+1
    return count

In [22]:
#Equations for frequency of 3 Value found together in the Data Set
def FindFrequency3 (DataSet,value,value2,value3):
    count=0
    for i in DataSet:
        if value in i and value2 in i and value3 in i:
            count=count+1
    return count

In [23]:
# A function to sort lists by their second values
def Sort(Set):
    Set.sort(key=lambda x: x[1])
    return Set

In [24]:
def FreqValues(DataSet):
    AllValues=[]
    shape=DataSet.shape
    for i in range(shape[0]):
        for j in range(shape[1]):
            AllValues.append(DataSet[i][j])
    
    UniqueValues=[]
    for i in AllValues:
        if i not in UniqueValues:
            UniqueValues.append(i)
            
    AllFreq=[]
    for i in UniqueValues:
        AllFreq.append(FindFrequency(DataSet,i))
    
    Freq=list(zip(UniqueValues,AllFreq))
    Sort(Freq)
    return Freq

### Creating Support, Confidence and Lift

In [25]:
#Creating Support  
def CalcSupport(XY,Total):
    return XY/Total

In [26]:
#Creating Confidence
def CalcConfidence(XY,X):
    return XY/X

In [27]:
#Creating Lift
def CalcLift(supportXY,supX,supY):
    den = supX*supY
    return supportXY/den

In [28]:
#Function to find support with the FreqList from Frequency List Function
def FreqSup(Frequency,N):
    Support=[]
    for i in range(len(Frequency)):
        Support.append(CalcSupport((Frequency[i][1]),N))
    
    return Support

In [29]:
#Calculate Total 'Transactions'
TotalNoShows = 22275 
TotalShows = 88041 
Total = TotalNoShows + TotalShows
Total

110316

### Using the functions on the DataSet

In [30]:
#Using DataSet with only NoShow to find associations
NoShowFreq=FreqValues(NoShowAr)

#Using DataSet with All Values to find Associations
AllFreq=FreqValues(AllAr)

#Using DataSet with All Show to find Associations
ShowFreq=FreqValues(ShowAr)

In [31]:
#Create Frequency and Support of Show + Value patients
ShowSup=FreqSup(ShowFreq,Total)

In [32]:
#This is the Frequency and Support of these NoShow + the Values. 
NoShowSup=FreqSup(NoShowFreq,Total)

In [33]:
#This is the support of all the values on their own
AllSup=FreqSup(AllFreq,Total)

In [34]:
#Create DataFrame to merge values
Fq=pd.DataFrame(NoShowFreq[::-1],columns=['Value','NoShowFreq'])
Aq=pd.DataFrame(AllFreq[::-1], columns=['Value','TotalFreq'])
Sq=pd.DataFrame(ShowFreq[::-1], columns=['Value','ShowFreq'])

In [35]:
#Rearrange order so highest support is first
Aq['Sup'] = (AllSup[::-1])
Sq['ShowSup'] = (ShowSup[::-1])
Fq['NoShowSup'] = NoShowSup[::-1]

In [36]:
#Merge the NoShow Data Frame with information about Individual Value data
Fq=Fq.merge(Aq, on='Value')

In [37]:
#Calculate Confidence for each value
NoShowConf=[]
for i in range(len(Fq['Value'])):
    NoShowConf.append(CalcConfidence(Fq['NoShowFreq'][i],Fq['TotalFreq'][i]))
Fq['NoShowConf']= NoShowConf
Fq

             Value  NoShowFreq  NoShowSup  TotalFreq       Sup  NoShowConf
0           NoShow       22275   0.201920      22275  0.201920    1.000000
1       NoHandicap       21912   0.198629     108280  0.981544    0.202364
2     NoAlcoholism       21600   0.195801     106964  0.969615    0.201937
3       NoDiabetes       20853   0.189030     102416  0.928388    0.203611
4    NoScholarship       19698   0.178560      99473  0.901710    0.198024
..             ...         ...        ...        ...       ...         ...
137             -6           1   0.000009          1  0.000009    1.000000
138             17           1   0.000009          6  0.000054    0.166667
139             21           1   0.000009          1  0.000009    1.000000
140             24           1   0.000009          8  0.000073    0.125000
141      AEROPORTO           1   0.000009          8  0.000073    0.125000

[142 rows x 6 columns]

### Results

This is the data set sorted by descending support of No Shows + other patient descriptors

In [38]:
#Calculate Lift for each value
NoShowLift=[]
for i in range(len(Fq['Value'])):
    NoShowLift.append(CalcLift(Fq['NoShowSup'][i],Fq['NoShowSup'][0],Fq['Sup'][i]))
Fq['NoShowLift']= NoShowLift
Fq

,Value,NoShowFreq,NoShowSup,TotalFreq,Sup,NoShowConf,NoShowLift
0,NoShow,22275,0.201920,22275,0.201920,1.000000,4.952458
1,NoHandicap,21912,0.198629,108280,0.981544,0.202364,1.002200
2,NoAlcoholism,21600,0.195801,106964,0.969615,0.201937,1.000085
3,NoDiabetes,20853,0.189030,102416,0.928388,0.203611,1.008374
4,NoScholarship,19698,0.178560,99473,0.901710,0.198024,0.980703
...,...,...,...,...,...,...,...
137,-6,1,0.000009,1,0.000009,1.000000,4.952458
138,17,1,0.000009,6,0.000054,0.166667,0.825410
139,21,1,0.000009,1,0.000009,1.000000,4.952458
140,24,1,0.000009,8,0.000073,0.125000,0.619057
141,AEROPORTO,1,0.000009,8,0.000073,0.125000,0.619057

If NoShow Lift > 1 then association rule of value + no show is interesting in positive association <br/>
If NoShow Lift = 1 or close to 1, then association rule of value with no show is not interesting <br/>
If NoShow Lift < 1 then association rule of value + no show is interesting in negative association </br>

In [39]:
#Sort the Data Frame in descending order of lift
FqSort=Fq.sort_values(by=['NoShowLift'], ascending = False)
pd.set_option("display.max_rows", None, "display.max_columns", None)

The values that are names are neighborhoods <br/>
The values that are just numbers represent the weeks that the patient waited until their appointment <br/>
The values that shown as a range are age rages input by the patients <br/>

Results sorted by descending lift

In [40]:
FqSort

,Value,NoShowFreq,NoShowSup,TotalFreq,Sup,NoShowConf,NoShowLift
139,21,1,0.000009,1,0.000009,1.000000,4.952458
137,-6,1,0.000009,1,0.000009,1.000000,4.952458
136,19,1,0.000009,1,0.000009,1.000000,4.952458
133,ILHAS OCEÂNICAS DE TRINDADE,2,0.000018,2,0.000018,1.000000,4.952458
129,-1,4,0.000036,4,0.000036,1.000000,4.952458
0,NoShow,22275,0.201920,22275,0.201920,1.000000,4.952458
126,22,6,0.000054,10,0.000091,0.600000,2.971475
123,14,10,0.000091,22,0.000199,0.454545,2.251117
128,20,4,0.000036,9,0.000082,0.444444,2.201092
127,18,5,0.000045,13,0.000118,0.384615,1.904792
35,5,789,0.007152,2262,0.020505,0.348806,1.727449
15,3,2254,0.020432,6693,0.060671,0.336770,1.667838
17,4,1816,0.016462,5477,0.049648,0.331568,1.642078
64,6,359,0.003254,1110,0.010062,0.323423,1.601741
13,2,2854,0.025871,8856,0.080278,0.322267,1.596016
115,11,46,0.000417,146,0.001323,0.315068,1.560363
78,9,215,0.001949,683,0.006191,0.314788,1.558973
72,7,265,0.002402,844,0.007651,0.313981,1.554978
125,25,8,0.000073,26,0.000236,0.307692,1.523833
94,10,113,0.001024,369,0.003345,0.306233,1.516606
12,1,3662,0.033196,12007,0.108842,0.304989,1.510444
73,8,260,0.002357,896,0.008122,0.290179,1.437097
60,SANTOS DUMONT,369,0.003345,1274,0.011549,0.289639,1.434425
8,SMSRecieved,9775,0.088609,35433,0.321195,0.275873,1.366248
93,SANTA CECÍLIA,123,0.001115,448,0.004061,0.274554,1.359715
91,SANTA CLARA,134,0.001215,505,0.004578,0.265347,1.314118
33,ITARARÉ,921,0.008349,3507,0.031790,0.262618,1.300603
18,15-20,1813,0.016435,7128,0.064614,0.254349,1.259653
111,12,52,0.000471,206,0.001867,0.252427,1.250135
19,20-25,1725,0.015637,6854,0.062131,0.251678,1.246424
27,10-15,1439,0.013044,5769,0.052295,0.249437,1.235324
38,JESUS DE NAZARETH,696,0.006309,2853,0.025862,0.243954,1.208171
21,25-30,1653,0.014984,6832,0.061931,0.241950,1.198245
116,HORTO,42,0.000381,175,0.001586,0.240000,1.188590
14,Scholarship,2577,0.023360,10843,0.098290,0.237665,1.177025
44,ILHA DO PRÍNCIPE,526,0.004768,2259,0.020478,0.232846,1.153162
41,CARATOÍRA,590,0.005348,2564,0.023242,0.230109,1.139606
45,ANDORINHAS,517,0.004687,2251,0.020405,0.229676,1.137459
68,PRAIA DO SUÁ,294,0.002665,1283,0.011630,0.229150,1.134858
52,GURIGICA,456,0.004134,2018,0.018293,0.225966,1.119089
80,BENTO FERREIRA,193,0.001750,855,0.007750,0.225731,1.117923
82,PARQUE MOSCOSO,179,0.001623,795,0.007207,0.225157,1.115082
20,30-35,1686,0.015283,7498,0.067968,0.224860,1.113610
98,DO MOSCOSO,92,0.000834,411,0.003726,0.223844,1.108579
22,5-10,1617,0.014658,7224,0.065485,0.223837,1.108544
56,MARUÍPE,424,0.003844,1900,0.017223,0.223158,1.105180
110,ENSEADA DO SUÁ,52,0.000471,234,0.002121,0.222222,1.100546
76,ILHA DAS CAIEIRAS,235,0.002130,1067,0.009672,0.220244,1.090748
24,40-45,1504,0.013634,6838,0.061986,0.219947,1.089280
106,ARIOVALDO FAVALESSA,62,0.000562,282,0.002556,0.219858,1.088838
86,FONTE GRANDE,149,0.001351,682,0.006182,0.218475,1.081989
66,CRUZAMENTO,304,0.002756,1398,0.012673,0.217454,1.076929
55,SÃO JOSÉ,426,0.003862,1972,0.017876,0.216024,1.069851
99,BARRO VERMELHO,91,0.000825,423,0.003834,0.215130,1.065422
119,NAZARETH,29,0.000263,135,0.001224,0.214815,1.063861
51,ROMÃO,472,0.004279,2205,0.019988,0.214059,1.060118
118,UNIVERSITÁRIO,32,0.000290,152,0.001378,0.210526,1.042623
37,CENTRO,701,0.006354,3330,0.030186,0.210511,1.042544
23,35-40,1610,0.014594,7650,0.069346,0.210458,1.042282
46,SÃO PEDRO,512,0.004641,2433,0.022055,0.210440,1.042194
31,MARIA ORTIZ,1219,0.011050,5804,0.052612,0.210028,1.040153
5,NoHypertension,18527,0.167945,88601,0.803156,0.209106,1.035589
117,SANTA HELENA,37,0.000335,178,0.001614,0.207865,1.029443
104,90-95,71,0.000644,344,0.003118,0.206395,1.022164
71,SANTA TEREZA,272,0.002466,1324,0.012002,0.205438,1.017423
95,SANTOS REIS,112,0.001015,547,0.004958,0.204753,1.014032
34,RESISTÊNCIA,903,0.008186,4420,0.040067,0.204299,1.011780
3,NoDiabetes,20853,0.189030,102416,0.928388,0.203611,1.008374
6,F,14565,0.132030,71721,0.650141,0.203079,1.005738
77,GRANDE VITÓRIA,217,0.001967,1071,0.009708,0.202614,1.003439
1,NoHandicap,21912,0.198629,108280,0.981544,0.202364,1.002200
59,BELA VISTA,384,0.003481,1899,0.017214,0.202212,1.001445
2,NoAlcoholism,21600,0.195801,106964,0.969615,0.201937,1.000085
83,MONTE BELO,166,0.001505,824,0.007469,0.201456,0.997704
39,Alcoholism,675,0.006119,3352,0.030385,0.201372,0.997288
132,ILHA DO FRADE,2,0.000018,10,0.000091,0.200000,0.990492
10,M,7710,0.069890,38595,0.349859,0.199767,0.989337
69,SÃO BENEDITO,287,0.002602,1438,0.013035,0.199583,0.988425
43,BONFIM,549,0.004977,2770,0.025110,0.198195,0.981552
4,NoScholarship,19698,0.178560,99473,0.901710,0.198024,0.980703
62,SÃO CRISTÓVÃO,362,0.003281,1834,0.016625,0.197383,0.977530
47,SANTO ANDRÉ,504,0.004569,2562,0.023224,0.196721,0.974254
90,GOIABEIRAS,137,0.001242,699,0.006336,0.195994,0.970653
97,ESTRELINHA,105,0.000952,536,0.004859,0.195896,0.970164
100,PIEDADE,88,0.000798,452,0.004097,0.194690,0.964195
102,SANTA LÚCIA,85,0.000771,437,0.003961,0.194508,0.963293
54,DA PENHA,428,0.003880,2210,0.020033,0.193665,0.959119
120,SEGURANÇA DO LAR,28,0.000254,145,0.001314,0.193103,0.956337
63,ILHA DE SANTA MARIA,361,0.003272,1885,0.017087,0.191512,0.948455
92,JUCUTUQUARA,132,0.001197,692,0.006273,0.190751,0.944689
79,INHANGUETÁ,201,0.001822,1055,0.009563,0.190521,0.943549
25,JARDIM CAMBURI,1465,0.013280,7717,0.069954,0.189841,0.940178
84,CONQUISTA,160,0.001450,848,0.007687,0.188679,0.934426
29,45-50,1374,0.012455,7351,0.066636,0.186913,0.925680
113,FRADINHOS,48,0.000435,258,0.002339,0.186047,0.921388
107,BOA VISTA,58,0.000526,312,0.002828,0.185897,0.920649
112,ANTÔNIO HONÓRIO,50,0.000453,270,0.002448,0.185185,0.917122
81,PRAIA DO CANTO,190,0.001722,1035,0.009382,0.183575,0.909147
42,TABUAZEIRO,573,0.005194,3125,0.028328,0.183360,0.908083
65,FORTE SÃO JOÃO,346,0.003136,1889,0.017124,0.183166,0.907120
16,0-5,1865,0.016906,10240,0.092824,0.182129,0.901986
135,23,2,0.000018,11,0.000100,0.181818,0.900447
74,JOANA D´ARC,258,0.002339,1423,0.012899,0.181307,0.897916
108,COMDUSA,56,0.000508,310,0.002810,0.180645,0.894638
28,Diabetes,1422,0.012890,7900,0.071612,0.180000,0.891442
53,JABOUR,451,0.004088,2509,0.022744,0.179753,0.890219
26,50-55,1453,0.013171,8095,0.073380,0.179494,0.888934
61,Handicap,363,0.003291,2036,0.018456,0.178291,0.882978
57,NOVA PALESTINA,402,0.003644,2261,0.020496,0.177797,0.880534
103,SANTA LUÍZA,75,0.000680,422,0.003825,0.177725,0.880176
70,REDENÇÃO,275,0.002493,1552,0.014069,0.177191,0.877530
50,SANTO ANTÔNIO,483,0.004378,2744,0.024874,0.176020,0.871734
122,PONTAL DE CAMBURI,12,0.000109,69,0.000625,0.173913,0.861297
11,Hypertension,3748,0.033975,21715,0.196844,0.172600,0.854792
124,95-100,10,0.000091,58,0.000526,0.172414,0.853872
75,CONSOLAÇÃO,237,0.002148,1376,0.012473,0.172238,0.853003
96,MATA DA PRAIA,110,0.000997,640,0.005802,0.171875,0.851204
87,REPÚBLICA,143,0.001296,835,0.007569,0.171257,0.848145
30,55-60,1316,0.011929,7747,0.070226,0.169872,0.841285
7,NoSMSRecieved,12500,0.113311,74883,0.678805,0.166927,0.826699
121,MORADA DE CAMBURI,16,0.000145,96,0.000870,0.166667,0.825410
138,17,1,0.000009,6,0.000054,0.166667,0.825410
88,VILA RUBIM,141,0.001278,847,0.007678,0.166470,0.824435
89,DO QUADRO,140,0.001269,844,0.007651,0.165877,0.821498
40,JARDIM DA PENHA,631,0.005720,3872,0.035099,0.162965,0.807077
67,80-85,302,0.002738,1910,0.017314,0.158115,0.783059
49,SANTA MARTHA,491,0.004451,3113,0.028219,0.157726,0.781130
101,DO CABRAL,88,0.000798,558,0.005058,0.157706,0.781033
58,75-80,399,0.003617,2562,0.023224,0.155738,0.771284
114,DE LOURDES,47,0.000426,302,0.002738,0.155629,0.770747
36,65-70,778,0.007052,5100,0.046231,0.152549,0.755493
85,85-90,151,0.001369,1002,0.009083,0.150699,0.746328
48,70-75,501,0.004541,3356,0.030422,0.149285,0.739327
32,60-65,1008,0.009137,6758,0.061260,0.149157,0.738692
105,SOLON BORGES,69,0.000625,469,0.004251,0.147122,0.728613
109,MÁRIO CYPRESTE,54,0.000490,371,0.003363,0.145553,0.720843
9,0,9541,0.086488,70601,0.639989,0.135140,0.669274
130,13,3,0.000027,23,0.000208,0.130435,0.645973
140,24,1,0.000009,8,0.000073,0.125000,0.619057
141,AEROPORTO,1,0.000009,8,0.000073,0.125000,0.619057
131,ILHA DO BOI,3,0.000027,35,0.000317,0.085714,0.424496
134,15,2,0.000018,24,0.000218,0.083333,0.412705

Patient features with Lifts greater than 1.3 (Positive realtionship with value and not showing up)

In [43]:
FqPos= Fq.loc[FqSort['NoShowLift'] > 1.3]
FqPos

,Value,NoShowFreq,NoShowSup,TotalFreq,Sup,NoShowConf,NoShowLift
0,NoShow,22275,0.201920,22275,0.201920,1.000000,4.952458
8,SMSRecieved,9775,0.088609,35433,0.321195,0.275873,1.366248
12,1,3662,0.033196,12007,0.108842,0.304989,1.510444
13,2,2854,0.025871,8856,0.080278,0.322267,1.596016
15,3,2254,0.020432,6693,0.060671,0.336770,1.667838
17,4,1816,0.016462,5477,0.049648,0.331568,1.642078
33,ITARARÉ,921,0.008349,3507,0.031790,0.262618,1.300603
35,5,789,0.007152,2262,0.020505,0.348806,1.727449
60,SANTOS DUMONT,369,0.003345,1274,0.011549,0.289639,1.434425
64,6,359,0.003254,1110,0.010062,0.323423,1.601741
72,7,265,0.002402,844,0.007651,0.313981,1.554978
73,8,260,0.002357,896,0.008122,0.290179,1.437097
78,9,215,0.001949,683,0.006191,0.314788,1.558973
91,SANTA CLARA,134,0.001215,505,0.004578,0.265347,1.314118
93,SANTA CECÍLIA,123,0.001115,448,0.004061,0.274554,1.359715
94,10,113,0.001024,369,0.003345,0.306233,1.516606
115,11,46,0.000417,146,0.001323,0.315068,1.560363
123,14,10,0.000091,22,0.000199,0.454545,2.251117
125,25,8,0.000073,26,0.000236,0.307692,1.523833
126,22,6,0.000054,10,0.000091,0.600000,2.971475
127,18,5,0.000045,13,0.000118,0.384615,1.904792
128,20,4,0.000036,9,0.000082,0.444444,2.201092
129,-1,4,0.000036,4,0.000036,1.000000,4.952458
133,ILHAS OCEÂNICAS DE TRINDADE,2,0.000018,2,0.000018,1.000000,4.952458
136,19,1,0.000009,1,0.000009,1.000000,4.952458
137,-6,1,0.000009,1,0.000009,1.000000,4.952458
139,21,1,0.000009,1,0.000009,1.000000,4.952458

Patientd with Features less than 0.7. (Negative relationship between value and not showing up)

In [44]:
FqNeg= Fq.loc[FqSort['NoShowLift'] < 0.7 ]
FqNeg

,Value,NoShowFreq,NoShowSup,TotalFreq,Sup,NoShowConf,NoShowLift
9,0,9541,0.086488,70601,0.639989,0.135140,0.669274
130,13,3,0.000027,23,0.000208,0.130435,0.645973
131,ILHA DO BOI,3,0.000027,35,0.000317,0.085714,0.424496
134,15,2,0.000018,24,0.000218,0.083333,0.412705
140,24,1,0.000009,8,0.000073,0.125000,0.619057
141,AEROPORTO,1,0.000009,8,0.000073,0.125000,0.619057